{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{#
    This template is not used at all, it is just a template that you can use to create
    your own custom tree view.
#}
{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% import _self as tree %}
{% macro navigate_child(collection, admin, root, depth) %}
    <ul{% if root %} class="sonata-tree sonata-tree--toggleable js-treeview"{% endif %}>
        {% for element in collection %}
            <li class="sonata-ba-list-field" objectId="{{ element.id }}" >
                <div class="sonata-tree__item"{% if depth < 5 %} data-treeview-toggled{% endif %}>
                    {% if root or element.parent %}<i class="fa fa-caret-right" data-treeview-toggler></i>{% endif %}
                    {% media element.media, 'admin' with {'width': '20','height': '20','class': 'img-polaroid'} %}
                    <a class="sonata-tree__item__edit" href="{{ admin.generateObjectUrl('edit', element) }}">{{ element.nombre }}</a>
                    <i class="text-muted">{{ element.descripcion }}</i>
                    <div class="pull-right">
                        {% if admin.hasRoute('edit') and admin.id(element) and admin.isGranted('EDIT', element) %}
                            <a class="sonata-action-element" href="{{ admin.generateObjectUrl('edit', element) }}" title="{{ 'link_action_edit'|trans({}, 'SonataAdminBundle') }}">
                                <i class="fa fa-edit"></i>
                            </a>
                        {% endif %}
                        {% if admin.hasRoute('delete') and admin.id(element) and admin.isGranted('DELETE', element) %}
                            <a class="sonata-action-element" href="{{ admin.generateObjectUrl('delete', element) }}" title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}" style="margin-left: 10px;">
                                <i class="fa fa-trash"></i>
                            </a>
                        {% endif %}
                    </div>
                    {#
                    {% if element.enabled %}<span class="label label-success pull-right"><i class="fa fa-check"></i> {{ admin.trans('active', {}, 'SonataClassificationBundle') }}</span>{% endif %}
                    {% if not element.enabled %}<span class="label label-danger pull-right"><i class="fa fa-times"> {{ admin.trans('disabled', {}, 'SonataClassificationBundle') }}</i></span>{% endif %}
                    #}
                </div>
                {% set children = admin.getResourceManager.findChildrenByParentId(element.id) %}
                {% if children|length %}
                    {{ _self.navigate_child(children, admin, false, depth + 1) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block tab_menu %}
    {% include 'SIPBaseBundle:Admin:ResourceTree/list_tab_menu.html.twig' with {
        'mode':   'tree',
        'action': action,
        'admin':  admin,
    } only %}
{% endblock %}

{% block list_table %}
    <div class="col-xs-12 col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h1 class="box-title">
                    {{ admin.trans('Elements Tree View', {}, admin.translationDomain) }}
                </h1>
                <hr style="margin-top: 10px; margin-bottom: 10px;">
            </div>
            <div class="box-content">
                {% if (root_element is not null) %}
                    {% set children = admin.getResourceManager.findChildrenByParentId(root_element.id) %}
                    {% if children|length %}
                        {{ tree.navigate_child(children, admin, true, 0) }}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}